* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 15vw;
    height: 90vh;
    background: whitesmoke no-repeat scroll center/cover;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
    flex: 1;
    transition: all 0.5s linear;
    filter: grayscale(1);
    position: relative;
}

.panel h1 {
    transition: all 0.5s linear;
    text-shadow: 0 0 5px grey;
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    left: 50px;
    bottom: 100px;
}

.active {
    flex: 5;
    filter: grayscale(0);
}

.active h1 {
    transform: rotate(0deg);
    left: 50px;
    top: 50px;
}

#panel-1 {
    background-image: url(../Image/Hong-Kong.jpg);
}

#panel-2 {
    background-image: url(../Image/Singapore.jpg);
}

#panel-3 {
    background-image: url(../Image/China.jpg);
}

#panel-4 {
    background-image: url(../Image/Thailand.jpg);
}

#panel-5 {
    background-image: url(../Image/Germany.jpg);
}